  @import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
  @import url(https://fonts.googleapis.com/css?family=PT+Mono);


  body{
        margin: 0;
        padding-bottom: 55px;
        background: url(http://api.thumbr.it/whitenoise-361x370.png?background=f5f2e9ff&noise=626262&density=25&opacity=14);
        
    }

    h1{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 55px;
      text-align: center;
      margin: 3% auto 2%;
      color: #cc3628;
      word-spacing: 15px;
    }

    h2{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      margin-top: 10%;
      letter-spacing: 2px;
      color: #f5f2e9;
    }

    h3{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 36px;
      text-align: center;
      margin-top: 15%;
      letter-spacing: 2px;
      color: #cc3628;
    }

    h4{
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      padding-top: 15%;
      color: #f5f2e9;
      margin: 0;
    }


    p{
      font-family: 'PT Mono', serif;
      font-size: 14px;
      color: black;
      padding: 0 5% 15px;
    }

    button{
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin: 10px auto;
    background-color: rgba(204, 54, 40, .95);
    border: 3px solid #f5f2e9; /* cream */
    color: #f5f2e9;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Mono', serif;
    text-indent: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

  button:hover{
    background-color: #f5f2e9;
    color: rgba(204, 54, 40, 1);
  }  

  a button{
    text-decoration: none;
    margin: 0 10px;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  a button:hover{
    box-shadow: inset 0 0 0 3px #cc3628;
    background-color: transparent;
  }

 .inline-link{
  position: relative;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #f7d894;
  z-index: 2;
 }

 .inline-link::after{
  background-color: #f7d894;
  bottom: 0;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  transition: height 0.4s;
  z-index: -1;
 }

 a.inline-link:hover::after { height: 100%; }

 article p{
  line-height: 20px;
 }

/*  MODAL WINDOW -- GAME 1 */

  #button-close-g1{
    margin: 10 auto;
    background-color: rgba(204, 54, 40, .95);
    border: 3px solid #f5f2e9; /* cream */
    color: #f5f2e9;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Mono', serif;
    text-indent: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

  #button-close-g1:hover{
    background-color: #f5f2e9;
    color: rgba(204, 54, 40, 1);
  }  

  #modal-g1 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(204, 54, 40, 0.95);
    z-index: 99999;
    height: 100%;
    width: 100%;
    text-align: center;
}
.modalcontent-g1 {
    color: #f5f2e9;
    margin: 10px 10px;
    width: 100%;
    padding: 20px;
}

.modalcontent-g1 p{
  color: #f5f2e9;
  margin: 10px 15%;
  text-align: left
}

/*  MODAL WINDOW -- GAME 2 */

  #button-close-g2{
    margin: 10 auto;
    background-color: rgba(204, 54, 40, .95);
    border: 3px solid #f5f2e9; /* cream */
    color: #f5f2e9;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Mono', serif;
    text-indent: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

  #button-close-g2:hover{
    background-color: #f5f2e9;
    color: rgba(204, 54, 40, 1);
  }  

  #modal-g2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(204, 54, 40, 0.95);
    z-index: 99999;
    height: 100%;
    width: 100%;
    text-align: center;
}
.modalcontent-g2 {
    color: #f5f2e9;
    margin: 10px 10px;
    width: 100%;
    padding: 20px;
}

.modalcontent-g2 p{
    color: #f5f2e9;
  margin: 10px 15%;
  text-align: left
}

/* MODAL CONTENT GAME 3*/

  #button-close-g3{
    margin: 10 auto;
    background-color: rgba(204, 54, 40, .95);
    border: 3px solid #f5f2e9; /* cream */
    color: #f5f2e9;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Mono', serif;
    text-indent: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

  #button-close-g3:hover{
    background-color: #f5f2e9;
    color: rgba(204, 54, 40, 1);
  }  

  #modal-g3 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(204, 54, 40, 0.95);
    z-index: 99999;
    height: 100%;
    width: 100%;
    text-align: center;
}
.modalcontent-g3 {
    color: #f5f2e9;
    margin: 10px 10px;
    width: 100%;
    padding: 20px;
}

.modalcontent-g3 p{
    color: #f5f2e9;
  margin: 10px 15%;
  text-align: left
}


/* MODAL CONTENT GAME 4 */

  #button-close-g4{
    margin: 10 auto;
    background-color: rgba(204, 54, 40, .95);
    border: 3px solid #f5f2e9; /* cream */
    color: #f5f2e9;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Mono', serif;
    text-indent: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

  #button-close-g4:hover{
    background-color: #f5f2e9;
    color: rgba(204, 54, 40, 1);
  }  

  #modal-g4 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    background: rgba(204, 54, 40, 0.95);
    z-index: 99999;
    height: 100%;
    width: 100%;
    text-align: center;
}
.modalcontent-g4 {
    color: #f5f2e9;
    margin: 10px 10px;
    width: 100%;
    padding: 20px;
}

.modalcontent-g4 p{
    color: #f5f2e9;
  margin: 10px 15%;
  text-align: left
}


.next{
    z-index: 101;
    background-color: #cc3628;
    height: 100px;
    width: 30px;
    position: fixed;
    right: 0;
    top: 40%;
    color: black;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.next img{
    width: 15px;
    position: absolute;
    top: 45%;
    left: 20%;
     -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.next:hover{
    display: initial;
    color: white;
    text-decoration: none;
    width: 100px;
}

.next:hover img{
  width: 30px;
  top: 40%;
  left: 35%;
}

.prev{
  z-index: 101;
    background-color: #cc3628;
    height: 100px;
    width: 30px;
    position: fixed;
    left: 0;
    top: 40%;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.prev img{
    width: 15px;
    position: absolute;
    top: 45%;
    left: 20%;
     -webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
}

.prev:hover{
    display: initial;
    color: white;
    text-decoration: none;
    width: 100px;
}

.prev:hover img{
  width: 30px;
  top: 40%;
  left: 35%;
}


/* HOMEPAGE */

#home-buttons{
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}


#epigraph{
  margin: 0 22%;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  padding: 0;
  line-height: initial;
}

.intro-p{
  padding: 10px;
  margin: 10px 15% 30px;
}

.cont-div{
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 13em;
}

.contd{
    text-decoration: none;
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #cc3628;
    font-weight: 600;
    font-size: 18px;

}

.contd img{
  width: 25px;
  margin: 0 10px;
  position: relative;
  top: 3px;
}

/* ALL GAMES */
.modalcontent-g1 .objective{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 1px;
  text-align: center;
}

.modalcontent-g1 .objective-p{
  text-align: center;
}

.modalcontent-g2 .objective{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 1px;
  text-align: center;
}

.modalcontent-g2 .objective-p{
  text-align: center;
}

.modalcontent-g3 .objective{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 1px;
  text-align: center;
}

.modalcontent-g3 .objective-p{
  text-align: center;
}

/* GAME 1 */

.bg{
    display: block;
    width: 20000px;
    height: 900px;
    background-image: url(chicago-bg.png);
    margin: 0;
    z-index: -100000;
    background-repeat: repeat-x;
}

#L5{
  background-image: url(game1/L5.png);
  background-size: cover;
  width: 320px;
  height: 320px; 
  position: relative;
  left: 830px;
  top: 580px;
}

button .md-trigger:hover{
  background: inherit;
}

#sq2{
  background-image: url(game1/l5.png);
  background-size: cover;
  width: 320px;
  height: 320px; 
  position: relative;
  left: 1030px;
  top: 280px;
}

#sq3{
  background-image: url(game1/l5.png);
  background-size: cover;
  width: 320px;
  height: 320px; 
  position: relative;
  left: 1250px;
  top: 480px;
}

#sq4{
  background-image: url(game1/l5.png);
  background-size: cover;
  width: 320px;
  height: 320px; 
  position: relative;
  left: 1700px;
  top: 620px;
}

button #L5{
  border: 0px;
  background: transparent;
  width: 320px;
  height: 320px;
}

button .md-trigger{
  background-color: transparent;
  border: none;
}


button .md-trigger:hover{
  background-color: transparent;
  border: none;

}

/* GAME 2 */

.drag{
  background-color: transparent;
  width: 150px;
  height: 150px;
}


.drag img{
  width: 150px;
  height: 150px;
}



/* GAME 3 */
#chessboard{
  margin: 0 auto;
  width: 60%;
  height: 100%;
}

.row-wrapper{
  margin-bottom: 0px;
  padding: 0px;
}


.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
}

.md-content{
  background-color: #cc3628;
}

.md-content p{
  font-family: 'PT Mono', serif;
  color: #f5f2e9;
  padding: 0 5% 5%;
}

.md-content button{
  display: block;
  margin: 10 auto;
  background-color: transparent;
}

.md-content button:hover{
  background-color: #f5f2e9;
  color: #cc3628;
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background-color: rgba(143,27,15,0.8);
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}


#grid-container-g3{
  text-align: center;
  overflow-y: hidden;
}

.row{
  width: 100%;
  margin-top: 1%;
}

.city-grid{
  width: 130px;
  height: 130px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
  background-size: contain;
}

#cg-1a{background-image: url('game3/1-a.jpg');}
#cg-1b{background-image: url('game3/1-b.jpg');}
#cg-1c{background-image: url('game3/1-c.jpg');}
#cg-1d{background-image: url('game3/1-d.jpg');}

#cg-2a{background-image: url('game3/2-a.jpg');}
#cg-2b{background-image: url('game3/2-b.jpg');}
#cg-2c{background-image: url('game3/2-c.jpg');}
#cg-2d{background-image: url('game3/2-d.jpg');}

#cg-3a{background-image: url('game3/3-a.jpg');}
#cg-3b{
  background-image: url('game3/3-b.jpg');
  background-size: contain;
  padding: 0;
  width: 130px;
  height: 130px;
  border-radius: 0px;
  margin: initial;
}
#cg-3c{background-image: url('game3/3-c.jpg');}
#cg-3d{background-image: url('game3/3-d.jpg');}

#cg-4a{background-image: url('game3/4-a.jpg');}
#cg-4b{background-image: url('game3/4-b.jpg');}
#cg-4c{background-image: url('game3/4-c.jpg');}
#cg-4d{background-image: url('game3/4-d.jpg');}

@media screen and (max-width: 954px){
 .city-grid{
  width: 80px;
  height: 80px;
 }

}

/* GAME 4 */

#grid-container::-webkit-scrollbar { 
    display: none; 
}

#grid-container{
  margin: 0 auto;
  position: relative;
  left: 2%;
}

.card-grid{
  width: 120px;
  height: 120px;
  margin: 10px;
  display: inline-block;
  perspective: 200px;
  position: relative;
  transform-style: preserve-3d;
}

.card-grid img{
  width: 150px;
  height: 150px;
}

.card-grid .front{
  height: 100%; width: 100%; 
  backface-visibility: hidden; 
  transform-style: preserve-3d; 
  position: absolute; 
  z-index: 1; transition: 
  all 0.5s ease-out; 
}

.card-grid .back{
  background-color: #f5f2e9;
  height: 125px; 
  width: 85px;
  border-radius: 18.6px;
  border: 1px solid black; 
  transform-style: preserve-3d; 
  z-index: 0; 
  transition: all 0.5s ease-out;
  backface-visibility: hidden; 
  position: relative;
  top: 15px; 
}

.card-grid .back span{
  display: block;
  font-family: 'PT Mono', serif;
  padding: 15px;
  font-size: 13px;
}

#toggle-btn{
  border: 0px;
  position: fixed;
  bottom: 80px; 
  right: 20px;
}

#toggle-btn:hover{
  box-shadow: inset 0 0 0 5px #A82D21;
  background-color: #cc3628;
  color: #f5f2e9;

}

footer{
    z-index: 99998;
    background-color: #FFFDF7;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

footer a{
  font-family: 'PT Mono', serif;
  color: black; 
  text-decoration: underline;
  margin: 3% 1%;
  position: relative;
  top: 30%;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #f7d894;
  z-index: 2;
}

 footer a::after{
  background-color: #f7d894;
  bottom: 0;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  transition: height 0.4s;
  z-index: -1;
 }

 footer a:hover::after { height: 100%; }


